/* app css stylesheet */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.box{
width:300px;
height:150px;
display: inline-block;
margin: auto;
margin-right:20px;
margin-top:20px;
background-color: white;
-webkit-box-shadow: 0 3px 15px 0 #000000;
-moz-box-shadow: 0 3px 15px 0 #000000;
box-shadow: 0 3px 15px 0 #000000;
vertical-align:bottom;
background: #f5f5f5; 
border-radius: 7px;
	
}
.red{
margin-left: 70px;
margin-top: 60px;
font-family: Arial Black; 
font-size: 48px;
color: red;

}
.blue{
margin-left:70px;
margin-top: 60px;
font-family: Arial Black; 
font-size: 48px; 
color: blue;
}
.green{
margin-left:70px;
margin-top: 60px;
font-family: Arial Black; 
font-size: 48px; 
color:green;
}
.orange{
margin-left:70px;
margin-top: 60px;
font-family: Arial Black; 
font-size: 48px; 
color:orange;
}

.box2{
width:150px;
height:150px;
display: inline-block;
margin: auto;
margin-right:20px;
margin-top:20px;
background-color: white;
-webkit-box-shadow: 0 3px 15px 0 #000000;
-moz-box-shadow: 0 3px 15px 0 #000000;
box-shadow: 0 3px 15px 0 #000000;
vertical-align:bottom;
background: #f5f5f5; 
border-radius: 7px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

