<!doctype html>
<html lang="en" ng-app="StroopGame">
<head>
  <meta charset="utf-8">
  <title>Stroop Color Game</title>
  <link rel="stylesheet" href="css/ribbons.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="css/app.css"/>

  <link rel="shortcut icon" href="img/favicon2.ico">
  <meta property="og:title" content="Stroop Color Game"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://stroopgame.com/"/>
    <meta property="og:image" content="http://stroopgame.com/app/img/color.png"/>
    <meta property="og:site_name" content="Stroop Color Game"/>
    <meta property="og:description" content="Stroop Effect is a famous psychology game for testing reaction. Choose the color of the text by either clicking the button "/>

</head>

<body ng-controller="StroopGameCtrl" ui-Keydown="{71 : 'clicked(\'green\')',82 : 'clicked(\'red\')','66' : 'clicked(\'blue\')','79' : 'clicked(\'orange\')' }">
	<div id="fb-root"></div>

  

 
 <div id="fb-root"></div>
        <script type="text/javascript">
            var button;
            var userInfo;
            
            window.fbAsyncInit = function() {
                FB.init({ appId: '609372545866148', //change the appId to your appId
                    status: true, 
                    cookie: true,
                    xfbml: true,
                    oauth: true});

               showLoader(true);
               
               function updateButton(response) {
                    button       =   document.getElementById('fb-auth');
                    userInfo     =   document.getElementById('user-info');
                    
                    if (response.authResponse) {
                        //user is already logged in and connected
                        FB.api('/me', function(info) {
                            login(response, info);
                        });
                        
                        button.onclick = function() {
                            FB.logout(function(response) {
                                logout(response);
                            });
                        };
                    } else {
                        //user is not connected to your app or logged out
                        button.innerHTML = 'Login';
                        button.onclick = function() {
                            showLoader(true);
                            FB.login(function(response) {
                                if (response.authResponse) {
                                    FB.api('/me', function(info) {
                                        login(response, info);
                                    });	   
                                } else {
                                    //user cancelled login or did not grant authorization
                                    showLoader(false);
                                }
                            }, {scope:'public_profile,email'});  	
                        }
                    }
                }
                
                // run once with current status and whenever the status changes
                FB.getLoginStatus(updateButton);
                FB.Event.subscribe('auth.statusChange', updateButton);	
            };
            (function() {
                var e = document.createElement('script'); e.async = true;
                e.src = document.location.protocol 
                    + '//connect.facebook.net/en_US/all.js';
                document.getElementById('fb-root').appendChild(e);
            }());
            
            
            function login(response, info){
                if (response.authResponse) {
                    var accessToken                                 =   response.authResponse.accessToken;
                    
                    userInfo.innerHTML                             = '<img src="https://graph.facebook.com/' + info.id + '/picture">' + info.name;
                     button.innerHTML                               = 'Logout';
                    showLoader(false);
                    //document.getElementById('other').style.display = "block";
                }
            }
        
            function logout(response){
                userInfo.innerHTML                             =   "";
                 showLoader(false);
            }
 
            function showLoader(status){
                
            }
            
        </script>


<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li id="user-info"></li>
            <li ><a href="#" id="fb-auth">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
          
         
 


 
 

	<div class="row-fluid" style="width:90%; margin-left:10%;margin-top:20px" >
		<div class="span8">
			<legend>Stroop Color Game | Countdown:<span ng-class='UI.countDownClass' ng-bind="game.countDown || '?'"></span></legend>		
			<div class="alert alert-block">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  Stroop Effect is a famous psychology game for testing reaction. Choose the color of the text by either clicking the button below or keypress. 
			  http://en.wikipedia.org/wiki/Stroop_effect
			</div>
			
			<div id="summary" ng-show="game.isStarted" ng-cloak>
			   Total right: {{game.rightCount}}, Total wrong:{{game.wrongCount}}, Total Answered {{game.rightCount+game.wrongCount}}</br>
			</div>
		
			<div class="row-fluid">		
				<div class="box">
					<div ng-class="game.quizClass">
						<span ng-bind="game.quizText || 'Color'"></span>				
					</div>
				</div>
				<div class="box2">
					<img ng-src={{UI.imgSrc}} style="width:100px; height:100px; margin-left:15%; margin-top:15%" ng-cloak></img>
				</div>
			</div>
			<div ng-show='UI.showStartButton' style="margin-top:20px; margin-bottom:20px;">		   
				<a class="btn btn-large btn-primary" ng-click="startGame()">Start Play!</a>
			</div>
			
			<div ng-show='UI.showGameButton' style="margin-top:20px; margin-bottom:20px;" ng-cloak>
				<a class="btn btn-large btn-danger" ng-click="clicked('green')">Green(G)</a>
				<a class="btn btn-large btn-info" ng-click="clicked('red')">Red(R)</a>
				<a class="btn btn-large btn-success" ng-click="clicked('orange')">Orange(O)</a>
				<a class="btn btn-large btn-warning" ng-click="clicked('blue')">Blue(B)</a>				
			</div>
				
			<div class="progress" style="width:800px">
				<div class="bar bar-success" style={{UI.rightLength}}></div>
				<div class="bar bar-danger" style={{UI.wrongLength}}></div>
			</div>		
        </div>
		<div class="span3">	
			<div class="accordion" id="accordion2">		
			  <div class="accordion-group">
				<div class="accordion-heading">
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					Rules
				  </a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse in">
				  <div class="accordion-inner">
					The rule for this game is to tell the color of the text rather than meaning of the text. </br></br>
					You have <strong><span ng-bind="totalTime || '?'"></span> seconds </strong> to answer the questions. You may either choose the buttons indicating the color 
					or use keyboard: press"B":blue, press"G":green, press "R": red, press "O": orange.
					Wrong answer will substract the score, while correct answer incrementing score. </br></br>
					<strong>The buttons are intentially scrambled color. Try to use the button instead of keyPress, so you get more practice.</strong>
				  </div>
				</div>
			  </div>
			  
			    <div class="accordion-group">
				<div class="accordion-heading">
				  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					Top 10 players in the world
				  </a>
				</div>
				<div id="collapseOne" class="accordion-body collapse">
				  <div class="accordion-inner">
					Functionality to be added.
				  </div>
				</div>
			  </div>		  
			</div>
		 <div class="alert alert-info">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  Hint: You may cheat to press key to answer.  Don't use it if you consider yourself as Ninja!</br> press"B":blue, press"G":green, press "R": red, press "O": orange
		</div>
		</div>
   </div>
    <div ui-modal class="fade" ng-model="modalShown" id="myModal">
		<div class="modal-header">
			<h4>Result</h4>
			<a ng-click="modalShown=false">Close</a>
		</div>
		<div class="modal-body well">
			<p>In {{totalTime}} seconds, you answered total {{game.rightCount+game.wrongCount}} questions;</br>
			Of them {{game.rightCount}} is correct.  Of them {{game.wrongCount}} is wrong. </br>
			Remember, your score get subtracted when you have a wrong answer.
			Your total score is:{{game.totalScore}}.</br>
			Please Leave your name:</br>
			 <input type="text" placeholder="Your Name" ng-model="game.userName"></input>
			</p>
		</div>
					
		<div class="modal-footer">
			<button class="btn btn-info cancel" ng-click="modalShown=false">Save</button><!--save to database to be continued-->
			<button class="btn btn-warning cancel" ng-click="modalShown=false">Cancel</button>
		</div>
	</div>
	
	<hr/>
	<div class="row-fluid" style="width:90%; margin-left:10%;margin-top:20px" >
		<div class="span8">
	<footer>
	
		<p>
 		</p>
		
		<p>
 		</p>
	</footer> 
	</div><div class="3">
			<p>
			<span class="pull-right" style="margin-right:5%">
			   Linghua Jin 2013
				<a href="http://www.twitter.com/linghuaj"><img src="img/twitter.PNG"></a>
			</span>
		</p>
	</div>
	

	<script src="lib/jquery-1.7.2.min.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-ui.js"></script>
	<script src="lib/bootstrap.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	
	
</body>
</html>
